header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;

  a {
    img {
      position: absolute;
      width: 20px;
      top: 25px;
      left: 25px;
      filter: invert(15%) sepia(0%) saturate(5940%) hue-rotate(71deg)
        brightness(81%) contrast(79%);
    }
  }
}