@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #ebebeb;
  font-family: Roboto;
}
.localisation img {
  width: 13px;
}
.localisation p {
  margin-left: 15px;
}

.explorer {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Roboto;
}
.explorer h1 {
  margin: 0 40px 0 40px;
  padding-top: 40px;
}
.explorer h3 {
  font-weight: 100;
  color: #6b6b6b;
  margin: 15px 10px 30px 10px;
}
.explorer span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 45px;
  border-radius: 2rem;
  border: none;
  margin-bottom: 50px;
  font-size: 0.95rem;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 96%);
  box-shadow: #8b8b8b 0 5px 15px;
  transition: 0.3s;
}
.explorer span a {
  color: white;
  text-decoration: none;
}
.explorer span:hover {
  box-shadow: #4e4e4e 0 5px 15px;
  background: linear-gradient(355deg, rgb(167, 94, 255) 0%, rgb(255, 137, 221) 96%);
  transition: 0.3s;
}

.fonctionnement {
  font-family: Roboto;
}
.fonctionnement h1 {
  margin-left: 15px;
}
.fonctionnement .container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #f8f8f8;
  margin: 20px 7%;
  border-radius: 0.9rem;
  height: 65px;
  box-shadow: #d8d8d8 0 5px 15px;
  position: relative;
}
.fonctionnement .container img {
  width: 15px;
  margin: 0 30px 0 35px;
  filter: invert(50%) sepia(0%) saturate(1885%) hue-rotate(188deg) brightness(93%) contrast(86%);
}
.fonctionnement .container p {
  font-weight: 600;
}
.fonctionnement .container:hover {
  background-color: #f4ebfd;
}
.fonctionnement .container:hover img {
  filter: invert(39%) sepia(73%) saturate(899%) hue-rotate(236deg) brightness(86%) contrast(85%);
}
.fonctionnement .after::after {
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #9356cd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-10px);
}
.fonctionnement .one::after {
  content: "1";
}
.fonctionnement .two::after {
  content: "2";
}
.fonctionnement .three::after {
  content: "3";
}
@media screen and (min-width: 1150px) {
  .fonctionnement .flex {
    display: flex;
    justify-content: center;
  }
  .fonctionnement .container {
    margin: 0 30px 0 30px;
    height: 100px;
    width: 250px;
  }
}

.restaurants {
  background-color: #f8f8f8;
  font-family: Roboto;
  margin-top: 60px;
  padding: 30px 0 50px 0;
}
.restaurants h1 {
  margin-left: 15px;
}
.restaurants .global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .container {
  width: 90%;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;
  border-radius: 1rem;
  box-shadow: #d8d8d8 0 5px 15px;
  position: relative;
}
.restaurants .container a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
.restaurants .container img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}
.restaurants .container div .titre {
  margin: 10px 0 0 10px;
  font-weight: 600;
}
.restaurants .container div .description {
  margin: 4px 0 15px 10px;
  color: #6b6b6b;
}
.restaurants .after::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Nouveau";
  top: 15px;
  right: 15px;
  color: #068d79;
  width: 90px;
  height: 30px;
  background-color: #79ebcd;
  border-radius: 0.2rem;
  font-weight: 600;
}
@media screen and (min-width: 1150px) {
  .restaurants .global-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .container {
    margin: 20px 30px;
  }
}

footer {
  background-color: #3c3c3c;
  display: flex;
  font-family: Roboto;
}
footer .flex-collumn {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
}
footer .flex-collumn a {
  color: white;
  text-decoration: none;
  margin: 4px 0;
}
footer .flex-collumn .logo {
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(145deg) brightness(104%) contrast(104%);
  margin-bottom: 15px;
}
footer .flex-collumn .flex {
  display: flex;
  align-items: center;
}
footer .flex-collumn .flex img {
  width: 12px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(145deg) brightness(104%) contrast(104%);
  margin-right: 10px;
}
@media screen and (min-width: 1150px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=index.css.map */
