@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$primaire: #9356cd;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.img-menu {
  img {
    width: 100%;
    max-height: 1012px;
    object-fit: cover;
  }
}

.menu {
  background-color: #f8f8f8;
  transform: translateY(-65px);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  .title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    h1 {
      font-family: Shrikhand;
      font-size: 1.75rem;
    }
    .heart {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        position: absolute;
        height: 22px;
        width: 22px;
        cursor: pointer;
      }
      &:hover {
        .regular {
          display: none;
        }
        .solid {
          display: block;
          fill: url(#gradient) $primaire;
        }
      }
      .solid {
        display: none;
      }
    }
  }

  .container {
    font-family: Roboto;
    h3 {
      color: #6f6f6f;
      font-weight: 100;
      margin-left: 10px;
      position: relative;
    }
    .plats,
    .desserts {
      margin-top: 40px;
    }

    h3::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 3px;
      background-color: $tertiaire;
    }

    .entrees::after {
      transform: translate(-78px, 27px);
    }
    .plats::after {
      transform: translate(-55px, 27px);
    }
    .desserts::after {
      transform: translate(-87px, 27px);
    }

    .flex-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card {
      background-color: #ffffff;
      width: 90%;
      max-width: 500px;
      border-radius: 0.9rem;
      margin: 10px 0;
      box-shadow: #d8d8d8 0 5px 15px;
      position: relative;
      overflow: hidden;
      animation: appear 500ms ease;
      -webkit-animation: appear 500ms ease;
      -moz-animation: appear 500ms ease;
      opacity: 0;

      @for $i from 1 through 10 {
        &.card-#{$i} {
          animation-delay: 200ms * $i;
          animation-fill-mode: forwards;
        }
        @keyframes appear {
          from {
            opacity: 0;
            transform: translateY(20px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      .card-title {
        font-weight: 600;
        font-size: 1.15rem;
        margin: 10px 0 0 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 350px;
        transition: 0.5s;
      }

      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .card-text {
          margin: 5px 0 0 15px;
          color: #6f6f6f;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 300px;
          transition: 0.5s;
        }
        .card-price {
          font-weight: 600;
          color: #424242;
          margin: 6px 20px 0 15px;
          transition: 0.5s;
        }
      }

      .checkbox {
        background-color: $tertiaire;
        position: absolute;
        height: 100%;
        top: 0;
        width: 60px;
        right: -60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 0.9rem;
        border-bottom-right-radius: 0.9rem;
        transition: 0.5s;

        img {
          width: 24px;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(167deg)
            brightness(105%) contrast(101%);
          transform: rotate(-720deg);
          transition: 0.5s;
        }
      }

      &:hover {
        .checkbox {
          right: 0;
          transition: 0.5s;

          img {
            transform: rotate(0deg);
            transition: 0.5s;
          }
        }
        .card-title {
          transition: 0.5s;
          width: 200px;
        }
        div {
          .card-text {
            transition: 0.5s;
            width: 200px;
          }
          .card-price {
            transform: translateX(-55px);
            transition: 0.5s;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .global {
      display: flex;
      justify-content: space-around;

      .container {
        h3 {
          margin-top: 30px;
        }
        .flex-center {
          .button {
            display: none;
          }
        }
      }
    }
  }

  .button,
  .button-two {
    cursor: pointer;
    color: white;
    width: 190px;
    height: 45px;
    border-radius: 2rem;
    border: none;
    margin: 30px 0 0 0;
    font-size: 1rem;
    background: linear-gradient(
      355deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 96%
    );
    font-weight: 600;
    box-shadow: #8b8b8b 0 5px 15px;
    transition: 0.3s;

    &:hover {
      box-shadow: #4e4e4e 0 5px 15px;
      background: linear-gradient(
        355deg,
        rgb(167, 94, 255) 0%,
        rgb(255, 137, 221) 96%
      );
      transition: 0.3s;
    }
  }
  @media screen and (min-width: 1200px) {
    text-align: center;
  }
  @media screen and (max-width: 1200px) {
    .button-two {
      display: none;
    }
  }
}
