@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.img-menu img {
  width: 100%;
  max-height: 1012px;
  object-fit: cover;
}

.menu {
  background-color: #f8f8f8;
  transform: translateY(-65px);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.menu .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .title h1 {
  font-family: Shrikhand;
  font-size: 1.75rem;
}
.menu .title svg {
  cursor: pointer;
  height: 22px;
  width: 22px;
}
.menu .title svg:hover {
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 96%);
  border-radius: 50%;
}
.menu .container {
  font-family: Roboto;
}
.menu .container h3 {
  color: #6f6f6f;
  font-weight: 100;
  margin-left: 10px;
  position: relative;
}
.menu .container .plats,
.menu .container .desserts {
  margin-top: 40px;
}
.menu .container h3::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 3px;
  background-color: #99e2d0;
}
.menu .container .entrees::after {
  transform: translate(-78px, 27px);
}
.menu .container .plats::after {
  transform: translate(-55px, 27px);
}
.menu .container .desserts::after {
  transform: translate(-87px, 27px);
}
.menu .container .flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .container .card {
  background-color: #ffffff;
  width: 90%;
  max-width: 500px;
  border-radius: 0.9rem;
  margin: 10px 0;
  box-shadow: #d8d8d8 0 5px 15px;
  position: relative;
  overflow: hidden;
  animation: appear 500ms ease;
  -webkit-animation: appear 500ms ease;
  -moz-animation: appear 500ms ease;
  opacity: 0;
}
.menu .container .card.card-1 {
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-2 {
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-3 {
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-4 {
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-5 {
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-6 {
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-7 {
  animation-delay: 1400ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-8 {
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-9 {
  animation-delay: 1800ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-10 {
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card .card-title {
  font-weight: 600;
  font-size: 1.15rem;
  margin: 10px 0 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
  transition: 0.5s;
}
.menu .container .card div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.menu .container .card div .card-text {
  margin: 5px 0 0 15px;
  color: #6f6f6f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  transition: 0.5s;
}
.menu .container .card div .card-price {
  font-weight: 600;
  color: #424242;
  margin: 6px 20px 0 15px;
  transition: 0.5s;
}
.menu .container .card .checkbox {
  background-color: #99e2d0;
  position: absolute;
  height: 100%;
  top: 0;
  width: 60px;
  right: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  transition: 0.5s;
}
.menu .container .card .checkbox img {
  width: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(167deg) brightness(105%) contrast(101%);
  transform: rotate(-720deg);
  transition: 0.5s;
}
.menu .container .card:hover .checkbox {
  right: 0;
  transition: 0.5s;
}
.menu .container .card:hover .checkbox img {
  transform: rotate(0deg);
  transition: 0.5s;
}
.menu .container .card:hover .card-title {
  transition: 0.5s;
  width: 200px;
}
.menu .container .card:hover div .card-text {
  transition: 0.5s;
  width: 200px;
}
.menu .container .card:hover div .card-price {
  transform: translateX(-55px);
  transition: 0.5s;
}
@media screen and (min-width: 1200px) {
  .menu .global {
    display: flex;
    justify-content: space-around;
  }
  .menu .global .container h3 {
    margin-top: 30px;
  }
  .menu .global .container .flex-center .button {
    display: none;
  }
}
.menu .button,
.menu .button-two {
  cursor: pointer;
  color: white;
  width: 190px;
  height: 45px;
  border-radius: 2rem;
  border: none;
  margin: 30px 0 0 0;
  font-size: 1rem;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 96%);
  font-weight: 600;
  box-shadow: #8b8b8b 0 5px 15px;
  transition: 0.3s;
}
.menu .button:hover,
.menu .button-two:hover {
  box-shadow: #4e4e4e 0 5px 15px;
  background: linear-gradient(355deg, rgb(167, 94, 255) 0%, rgb(255, 137, 221) 96%);
  transition: 0.3s;
}
@media screen and (min-width: 1200px) {
  .menu {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .menu .button-two {
    display: none;
  }
}

/*# sourceMappingURL=menu.css.map */
