@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
}
header a img {
  position: absolute;
  width: 20px;
  top: 25px;
  left: 25px;
  filter: invert(15%) sepia(0%) saturate(5940%) hue-rotate(71deg) brightness(81%) contrast(79%);
}

.img-menu img {
  width: 100%;
}

.menu {
  background-color: #f8f8f8;
  transform: translateY(-65px);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.menu .title {
  display: flex;
  justify-content: center;
}
.menu .title h1 {
  font-family: Shrikhand;
  font-size: 1.75rem;
}
.menu .container {
  font-family: Roboto;
}
.menu .container h3 {
  color: #6f6f6f;
  font-weight: 100;
  margin-left: 10px;
  position: relative;
}
.menu .container .plats,
.menu .container .desserts {
  margin-top: 40px;
}
.menu .container h3::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 3px;
  background-color: #99e2d0;
}
.menu .container .entrees::after {
  transform: translate(-78px, 27px);
}
.menu .container .plats::after {
  transform: translate(-55px, 27px);
}
.menu .container .desserts::after {
  transform: translate(-87px, 27px);
}
.menu .container .flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .container .card {
  background-color: #ffffff;
  width: 90%;
  max-width: 400px;
  border-radius: 0.9rem;
  margin: 10px 0;
  box-shadow: #d8d8d8 0 5px 15px;
  position: relative;
  overflow: hidden;
  animation: appear 500ms ease;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .container .card.card-1 {
  animation-delay: 250ms;
}
.menu .container .card.card-2 {
  animation-delay: 500ms;
}
.menu .container .card.card-3 {
  animation-delay: 750ms;
}
.menu .container .card.card-4 {
  animation-delay: 1000ms;
}
.menu .container .card.card-5 {
  animation-delay: 1250ms;
}
.menu .container .card.card-6 {
  animation-delay: 1500ms;
}
.menu .container .card.card-7 {
  animation-delay: 1750ms;
}
.menu .container .card.card-8 {
  animation-delay: 2000ms;
}
.menu .container .card.card-9 {
  animation-delay: 2250ms;
}
.menu .container .card .card-title {
  font-weight: 600;
  font-size: 1.15rem;
  margin: 10px 0 0 15px;
}
.menu .container .card div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.menu .container .card div .card-text {
  margin: 5px 0 0 15px;
  color: #6f6f6f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  transition: 0.5s;
}
.menu .container .card div .card-price {
  font-weight: 600;
  color: #424242;
  margin: 6px 20px 0 15px;
  transition: 0.5s;
}
.menu .container .card .checkbox {
  background-color: #99e2d0;
  position: absolute;
  height: 100%;
  top: 0;
  width: 60px;
  right: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  transition: 0.5s;
}
.menu .container .card .checkbox img {
  width: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(167deg) brightness(105%) contrast(101%);
  transform: rotate(-720deg);
  transition: 0.5s;
}
.menu .container .card:hover .checkbox {
  right: 0;
  transition: 0.5s;
}
.menu .container .card:hover .checkbox img {
  transform: rotate(0deg);
  transition: 0.5s;
}
.menu .container .card:hover div .card-text {
  transition: 0.5s;
  width: 200px;
}
.menu .container .card:hover div .card-price {
  transform: translateX(-55px);
  transition: 0.5s;
}

.button {
  color: white;
  width: 190px;
  height: 45px;
  border-radius: 2rem;
  border: none;
  margin: 30px 0 0 0;
  font-size: 1rem;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 96%);
  font-weight: 600;
  box-shadow: #8b8b8b 0 5px 15px;
  transition: 0.3s;
}
.button:hover {
  box-shadow: #4e4e4e 0 5px 15px;
  background: linear-gradient(355deg, rgb(167, 94, 255) 0%, rgb(255, 137, 221) 96%);
  transition: 0.3s;
}

footer {
  background-color: #3c3c3c;
  display: flex;
  font-family: Roboto;
}
footer .flex-collumn {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
}
footer .flex-collumn a {
  color: white;
  text-decoration: none;
  margin: 4px 0;
}
footer .flex-collumn .logo {
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(145deg) brightness(104%) contrast(104%);
  margin-bottom: 15px;
}
footer .flex-collumn .flex {
  display: flex;
  align-items: center;
}
footer .flex-collumn .flex img {
  width: 12px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(145deg) brightness(104%) contrast(104%);
  margin-right: 10px;
}
@media screen and (min-width: 1150px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=menu.css.map */
